.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 2vmax;
    color: var(--text-color);
    background-color: var(--bg-transparent);
}

.hearts {
    text-align: center;
}