footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: var(--text-color);
    font-size: 2.5vmax;
    background-color: var(--bg-solid);
    text-align: center;
}

.social-links {
    width: 20vmax;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    list-style: none;
}

.icon {
    color: var(--text-color);
}