footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: var(--text-color);
    font-size: 2.5vmax;
    background-color: var(--bg-solid);
    text-align: center;
    box-shadow: -4px -4px 40px var(--component-shadow);
}

.social-links {
    width: 20vmax;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    list-style: none;
}

.icon {
    color: var(--text-color);
}

.attribution {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5vmax;
    padding: 2rem 0rem 0rem 0rem;
}

.attribution>p>a {
    text-decoration: none;
    color: hsl(50, 79%, 74%);
}