* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-solid: hsl(57, 27%, 15%);
    --bg-transparent: hsla(57, 27%, 15%, 0.76);
    --component-shadow: hsl(0, 0%, 2%);
    --text-color: hsl(0, 0%, 97%);
}

main {
    min-height: 100vh;
    background: url("../assets/shop-2.jpg") no-repeat center/cover;
    background-attachment: fixed;
    padding: 2rem;
}