* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-solid: hsl(57, 27%, 15%);
    --bg-transparent: hsla(57, 27%, 15%, 0.76);
    --component-shadow: hsl(0, 0%, 2%);
    --text-color: hsl(0, 0%, 97%);
}

@font-face {
    font-family: 'Macaw';
    src: url('../assets/MacawFreebie-Light.otf');
    font-style: normal;
}

/* Fix for full page fixed background jump on scrolling because of the url bar on mobile */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transform: scale(1.0);
}

.bg:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/restaurant.jpg") no-repeat center/cover;
}

main {
    padding: 2rem;
    font-family: 'Macaw', Georgia, 'Times New Roman', Times, serif;
}