* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-solid: hsl(57, 27%, 15%);
    --bg-transparent: hsla(57, 27%, 15%, 0.76);
    --component-shadow: hsl(0, 0%, 2%);
    --text-color: hsl(0, 0%, 97%);
}

@font-face {
    font-family: 'Macaw';
    src: url('../assets/MacawFreebie-Light.otf');
    font-style: normal;
}

main {
    min-height: 100vh;
    background: url("../assets/restaurant.jpg") no-repeat center/cover;
    background-attachment: fixed;
    padding: 2rem;
    font-family: 'Macaw', Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}