.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: center;
    background-color: hsla(57, 27%, 15%, 0.60);
    padding: 2rem;
    box-shadow: 1px 1px 10px var(--bg-solid);
    font-weight: bold;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    color: var(--text-color);
    margin: 2rem;
    border-bottom: 1px solid var(--text-color);
}

.item-name {
    width: 100%;
    font-size: 2.2vmax;
    color: var(--text-color);
    text-align: center;
}

.img-container {
    width: 2vmax;
    height: 2vmax;
}

.item-img {
    width: 90%;
    height: 90%;
}