.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: hsla(42, 16%, 12%, 0.786);
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    color: black;
}

.item-name {
    width: 100%;
    font-size: 2vmax;
    color: aliceblue;
    background-color: black;
    text-align: center;
}

.img-container {
    width: 2vmax;
    height: 2vmax;
}

.item-img {
    width: 90%;
    height: 90%;
}